*{
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    padding: 20px;
}

#dealer-cards img{
  height: 180px;
  width: 130px;
  margin: 3px;
}

#my-cards img {
    height: 180px;
    width: 100%;
    margin: 3px;
}

button {
    padding: 10px 30px 10px;
    border-radius: 7px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 22px;
}

button:hover {
    background: #ccc;
}